<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.edu.ffb.pedro.aulafacilprofessor">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="true">
        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.LAUNCHER" />

                <!-- Aceita URIs que começam com "http://www.pedro.ffb.edu.br/aulafacilprofessor” -->
                <data android:scheme="http"
                    android:host="www.pedro.ffb.edu.br"
                    android:pathPrefix="/aulafacilprofessor" />
                <!-- note que a barra "/" é necessário no prefixo-->
                <!-- Aceita URIs que começam co "aula://professor” -->
                <data android:scheme="aula"
                    android:host="professor" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme" />
    </application>

</manifest>